#mainContent ul li
{
  list-style: inherit;
  padding: 0 0 0 5px;
  margin: 0;
}
#thing_tree a:link,
#mainContent a:link
{
  color: #660000;
  text-decoration: none;
  border-bottom: dotted 1px #660000;
  font-family: "Lucida Grande" , "Lucida Sans Unicode" , Verdana, Tahoma, Arial, sans-serif;
  line-height: 160%;
}
#thing_tree a:visited,
#mainContent a:visited
{
  color: #990000;
  text-decoration: none;
  border-bottom: dotted 1px #990000;
}
#thing_tree a:hover,
#mainContent a:hover
{
  border-bottom: none;
  color: #fff;
  background-color: #660000;
  text-decoration: none;
}
#mainContent blockquote
{
  padding: 0 0 0 15px;
  margin: 10px 0 10px 15px;
  width: auto;
  float: right;
  border-left: thin dotted #000;
}
/* -- types -- */
table.definition-table
{
  margin: 1em 0 0 0;
  border: 1px solid #DDD;
  font-size: 12px;
  border-spacing: 3px;
  border-collapse: separate;
}
.definition-table th
{
  text-align: left;
  background: #F0F0F0;
  padding-left: 5px;
  border-bottom: none;
}
.definition-table td
{
  padding: 0 5px 2px 5px;
  margin: 0;
  vertical-align: top;
  border-bottom: none;
}
.definition-table td p
{
  padding: 0 0 .6em 0;
  margin: 0;
}
.definition-table td ul
{
  padding-top: 0;
  margin-top: 0;
}
.definition-table tr.alt
{
  background: #E9EAEB;
}
div.attrib
{
  padding-bottom: 1em;
}

/* -- hierarchy -- */
table.h, .h tr, .h td
{
  border: none;
  margin: 0;
  padding: 0;
  border-collapse: collapse
}
#thing_tree ul
{
  border-left: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
}
#thing_tree ul.no-border
{
  border: none;
}